#userform{
	width:50%;
}
#tb{
	height:700px;
	padding:2px;
	margin:2px;
	border-radius:5px 0 0 5px;
	border:0px solid;
}
 .fileinput-button {
            position: relative;
            display: inline-block;
            overflow: hidden;
        }

        .fileinput-button input{
            position:absolute;
            right: 0px;
            top: 0px;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            font-size: 200px;
        }